@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

body{
    font-family: 'Ubuntu', 'Mukta', sans-serif;
    font-weight: bold;
}
img{
    width: 100%;
}
.nav{
    margin: auto;
    margin-bottom: 00.5em;
    display: flex;
    justify-content: space-around;
    width: 80%;
    border-bottom: solid #7d97ad;
}
.content{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    
}

.logo{
    flex-basis: 5em;
    justify-content: space-around;
}
.logo-text{
    text-align: right;
}

.text-header{
    color: #2d3c49;
    text-transform: uppercase;
}

.logo-photo{
    justify-content: space-around;
    width: 5em;
}

.thumbnails{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 100%;
    margin: auto;
}
.thumbnail{
    flex-basis: 31.5%;
}
.thumbnail img{
    width: 100%;
    height: auto;
}
.thumbnail figure{
    margin: auto;
    width: 100%;
    height: auto;
}
.content-title{
    flex-basis: 100%;
    margin: 2em 0 auto;
    color: #7d97ad;
}
.image-caption{
    text-align: center;
}
@media only screen and (max-width: 660px) {
    .nav{
        width: 90%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .content{
        width: 100%;
    }
    .logo{
        flex-basis: 5em;
    }
    .main-photo {
        flex-basis: 100%;
    }
    .logo-text{
        text-align: center;
        flex-basis: 100%;
    }
    .content{
        display: flex;
        flex-wrap: wrap;
    }
    .thumbnails{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
    }
    .thumbnail{
        margin-top: 1em;
        margin-bottom: 1em;
        flex-basis: 95%;
        height: 30%;
    }

    .thumbnail figure figcaption{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        text-align: center;
        width: 100%;
        height: auto;
    }
    .content-title{
        color: #7d97ad;
        font-weight: bold;
    }
}